
html { width: 100%; height:100%; overflow:auto; }

body { 
	width: 100%;
	height:100%;
	font-family: 'Helvetica';
	background: #000;
	color: #fff;
	font-size: 24px;
	text-align:right;
	letter-spacing:1.4px;
}

.login { 
	position: relative;
	top: 1%;
	left: 10%;
	width:700px;
	height:20px;
}

.login h1 { color: #76ee00; letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0,0.15);
	border: none;
	outline: none;
	padding: 5px;
	font-size: 14px;
	color: #000000;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;
	box-shadow: inset 0 -5px 45px rgba(255,255,0,0.3);
}

/* Set a style for the submit button */
.button {
  position: relative ;
	right:250px;
	width:200px;
	height:60px;
  background-color: #4CAF50;
  color: white;
  padding: 5px 5	px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}